///*------------------------------------*\
//    # GLOBAL COLOURS
//\*------------------------------------*/

// brand colours
$c-spotify-green: #1ed660;
$c-spotify-black: #191414;
$c-spotify-white: #fff;

// green tints
$c-green: #1db954;
$c-light-green: $c-spotify-green;

// ui colours
$c-ui-blue: #0050b9;
$c-ui-red: #b60000;

// 50 shades
$c-black: #000;
$c-gray-7: #121212;
$c-gray-10: #181818;
$c-gray-15: #282828;
$c-gray-20: #333;
$c-gray-25: #404040;
$c-gray-62: #a0a0A0;
$c-white: $c-spotify-white;

// transparencies
$c-black-at-86: rgba($c-black, .86);
$c-black-at-43: rgba($c-black, .43);
$c-white-at-86: rgba($c-white, .86);
$c-white-at-43: rgba($c-white, .43);
