/*------------------------------------*\
    # DEMO
\*------------------------------------*/

/**
 * Various styles that are needed for the demo but don't actually
 * form part of the final solution
 */

// Simple warning for if you don't have everything you need for the demo
.warning {
  margin-top: 32px;
  padding: 8px;
  background-color: $c-ui-red;
}

.navbar {
  width: var(--navbar-width);
}

// Section titles
.demo-section-title {
  margin-bottom: 16px;
  font-weight: bold;
}

// Hide the friend feed at certain breakpoints
.friend-feed {
  display: none;
  width: var(--friend-feed-width);
  background-color: #ff6437;

  @include eq($from: 'custom') {
    background-color: #cdf564;
  }
}

@include mq($from: 1190px) {
  .friend-feed {
    display: flex;
  }
}

// Change the background colour with the breakpoints to prove this works
.c-demo-panel {
  padding-top: 32px;
  padding-bottom: 32px;

  overflow-y: scroll;

  background-color: #af2896;

  @include eq($from: 'glue-sm') {
    background-color: #eb1e32;
  }

  @include eq($from: 'glue-md') {
    background-color: #f59b23;
  }

  @include eq($from: 'glue-lg') {
    background-color: #4b917d;
  }

  @include eq($from: 'glue-max') {
    background-color: #2d46b9;
  }
}

/**
* Output Breakpoint
*/
.breakpoint-info {
  display: none;
  margin-bottom: 16px;

  &:after {
    content: 'Breakpoint: Min';

    @include eq($from: 'glue-sm') {
      content: 'Breakpoint: Small (592px)';
    }

    @include eq($from: 'glue-md') {
      content: 'Breakpoint: Medium (860px)';
    }

    @include eq($from: 'glue-lg') {
      content: 'Breakpoint: Large (1280px)';
    }

    @include eq($from: 'glue-max') {
      content: 'Breakpoint: Max (1496px)';
    }
  }
}

/**
 * Grid Demo
 */
.grid-demo {
  margin-bottom: 16px;
  padding: 16px;
  background-color: $c-gray-25;
  text-align: center;
}
