/*------------------------------------*\
    # PANEL
\*------------------------------------*/

:root {
  --navbar-width: 200px;
  --friend-feed-width: 200px;
}

.c-panel {
  position: relative;
  flex: 1;
}

/**
 * Some sort of inital width
 */
.c-panel--secondary {
  display: flex;
  width: 100%;
  min-width: 120px;
  width: 200px; /* [1] */
  max-width: 400px;
  background-color: $c-gray-7;

  text-align: center;
  align-items: center;
}

.navbar {
  width: var(--navbar-width);
}

.friend-feed {
  width: var(--friend-feed-width)
}

.c-panel__content {
  width: 100%;
}

/**
 * Resizer
 */
.c-panel__resizer {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;

  width: 8px;

  cursor: col-resize;
  background-color: red;
}

.c-panel__resizer--right {
  right: -8px;
}

.c-panel__resizer--left {
  left: -8px;
}

/**
 * Other stuff
 */
.warning {
  margin-top: 32px;
  padding: 8px;
  background-color: $c-ui-red;
}

.friend-feed {
  display: none;
}

@media (min-width: 1190px) {
  .friend-feed {
    display: flex;
  }
}

[data-min-width] {
  background-color: red;
}

[data-min-width*="s"] {
  background-color: green;
}

[data-min-width*="m"] {
  background-color: blue;
}

[data-min-width*="l"] {
  background-color: hotpink;
}

[data-min-width*="max"] {
  background-color: purple;
}

/**
 * Output Breakpoint
 */
.breakpoint-info {
  display: none;
  &:after {
    [data-min-width] & {
      content: 'Breakpoint: Min';
    }

    [data-min-width*="s"] & {
      content: 'Breakpoint: Small (592px)';
    }

    [data-min-width*="m"] & {
      content: 'Breakpoint: Medium (860px)';
    }

    [data-min-width*="l"] & {
      content: 'Breakpoint: Large (1280px)';
    }

    [data-min-width*="max"] & {
      content: 'Breakpoint: Max (1496px)';
    }
  }
}
