/*------------------------------------*\
    # PANEL
\*------------------------------------*/

/**
 * Set some initial widths for the secondary panels
 */
:root {
  --navbar-width: 200px;
  --friend-feed-width: 200px;
}

/**
 * 1. Stop the select'yness
 */
.c-panel {
  position: relative;
  flex: 1;

  user-select: none; /* [1] */
}

/**
 * Some sort of inital width
 */
.c-panel--secondary {
  display: flex;
  width: 100%;
  min-width: 120px;
  width: 200px; /* [1] */
  max-width: 400px;
  background-color: $c-gray-7;

  text-align: center;
  align-items: center;
}

.c-panel__content {
  width: 100%;
}

/**
 * Resizer
 */
.c-panel__resizer {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;

  width: 8px;

  cursor: col-resize;
  background-color: red;
}

.c-panel__resizer--right {
  right: -8px;
}

.c-panel__resizer--left {
  left: -8px;
}
