/*------------------------------------*\
    # CIRCULAR
\*------------------------------------*/

/**
 * Circular Light
 */

@font-face {
    font-family: Circular;
    src: url('https://sp-bootstrap.global.ssl.fastly.net/7.3.0/fonts/circular-light.woff2') format('woff2'),
         url('https://sp-bootstrap.global.ssl.fastly.net/7.3.0/fonts/circular-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/**
 * Circular Book
 */

@font-face {
    font-family: Circular;
    src: url('https://sp-bootstrap.global.ssl.fastly.net/7.3.0/fonts/circular-book.woff2') format('woff2'),
         url('https://sp-bootstrap.global.ssl.fastly.net/7.3.0/fonts/circular-book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/**
 * Circular Medium
 */

@font-face {
    font-family: Circular;
    src: url('https://sp-bootstrap.global.ssl.fastly.net/7.3.0/fonts/circular-medium.woff2') format('woff2'),
         url('https://sp-bootstrap.global.ssl.fastly.net/7.3.0/fonts/circular-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

/**
 * Circular Bold
 */

@font-face {
    font-family: Circular;
    src: url('https://sp-bootstrap.global.ssl.fastly.net/7.3.0/fonts/circular-bold.woff2') format('woff2'),
         url('https://sp-bootstrap.global.ssl.fastly.net/7.3.0/fonts/circular-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/**
 * Circular Black
 */
 
@font-face {
    font-family: Circular;
    src: url('https://sp-bootstrap.global.ssl.fastly.net/7.3.0/fonts/circular-black.woff2') format('woff2'),
         url('https://sp-bootstrap.global.ssl.fastly.net/7.3.0/fonts/circular-black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
