/*------------------------------------*\
    # GRID
\*------------------------------------*/

/**
 * Grid-like layout system.
 *
 * The layout object provides us with a column-style layout system. This file
 * contains the basic structural elements, but classes should be complemented
 * with width utilities, for example:
 *
 *   <div class="o-grid">
 *     <div class="u-6/12"></div>
 *     <div class="u-6/12"></div>
 *   </div>
 *
 * The above will create a two-column structure in which each column will
 * fluidly fill half of the width of the parent. We can have more complex
 * systems:
 *
 *   <div class="o-grid">
 *     <div class="u-12/12 u-4/12@md"></div>
 *     <div class="u-6/12  u-4/12@md"></div>
 *     <div class="u-6/12  u-4/12@md"></div>
 *   </div>
 *
 * The above will create a system in which the first item will be 100% width
 * until we enter our medium breakpoint, when it will become 33.333% width. The
 * second and third items will be 50% of their parent, until they also become
 * 33.333% width at the medium breakpoint.
 *
 */


/**
 * 1. Create a 12 column grid with each columns taking its own equal share
 *    of the available space.
 * 2. We need to defensively reset any box-model properties.
 * 3. Allows us to use the layout object on any type of element.
 * 4. Grid elements are 100% wide by default
 */
.o-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* [1] */
  grid-gap: 16px;
  margin:  0; /* [2] */
  padding: 0; /* [2] */
  list-style: none; /* [3] */

  > * {
    grid-column: span 12; /* [4] */
  }
}
