/*------------------------------------*\
    # WRAPPER
\*------------------------------------*/

.o-wrap {
    max-width: 1496px;
    margin: 0 auto;
    padding-right: 32px;
    padding-left: 32px;
}
