///*------------------------------------*\
//    # TYPOGRAPHY
//\*------------------------------------*/

// Implementation of the typography scale as mixins
// so the styles can be reused

@mixin glue-type-maxima() {
    font-size: rem(64px);
    line-height: 1;
    letter-spacing: -0.04em;
    font-weight: 900;

    @include mq($from: glue-bp-m) {
        font-size: rem(118px);
    }
}

@mixin glue-type-longa() {
    font-size: rem(50px);
    line-height: 1;
    letter-spacing: -0.04em;
    font-weight: 900;

    @include mq($from: glue-bp-m) {
        font-size: rem(80px);
    }
}

@mixin glue-type-breve() {
    font-size: rem(40px);
    line-height: 1;
    letter-spacing: -0.04em;
    font-weight: 900;

    @include mq($from: glue-bp-m) {
        font-size: rem(56px);
    }
}

@mixin glue-type-semi-breve() {
    font-size: rem(24px);
    line-height: 1.3333333333;
    letter-spacing: -0.03em;
    font-weight: 900;
}

@mixin glue-type-minim() {
    font-size: rem(24px);
    line-height: 1.3333333333;
    letter-spacing: -0.02em;
    font-weight: 400;
}
